/* 4 imgs */
@media (max-width: 1150px) {
  .project-page__container__about__imgs-4 img {
    width: 40%;
  }
}

@media (max-width: 940px) {
  .project-page__container__about__imgs-4 img {
    width: 45%;
  }
}

@media (max-width: 725px) {
  .project-page__container__about__imgs-4 img {
    width: 70%;
  }

  .project-page__container__about__imgs-4 img:nth-of-type(even) {
    margin-left: auto;
  }

  .project-page__container__about__imgs-4 {
    justify-content: unset;
  }
}

@media (max-width: 540px) {
  .project-page__container__about__imgs-4 img {
    width: 80%;
  }
}

@media (max-width: 440px) {
  .project-page__container__about__imgs-4 img {
    width: 90%;
  }

  .project-page__container__about__imgs-4 img:nth-of-type(even) {
    margin-left: 1rem;
  }

  .project-page__container__about__imgs-4 {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: unset;
  }
}
